{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% comment %} mudar pra poder ser dinâmico com a página os arquivos estáticos carregados{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>conflitos belicos</title>
</head>
<body>
    <header>
        <h1>Conflitos Bélicos - BD</h1>
    </header>
</body>
</html>