{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-white" style="background:#332f2f;">          
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'grafics' %}">Gráficos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lists' %}">Consultas</a>
          </li>
        </ul>
      </nav>
      </header>
    <section class="cadastro">
        <h1>Cadastrar Divisão</h1>
        <hr>
        <!-- Permita cadastrar divisões dentro de um grupo militar, cadastre conflitos bélicos, grupos militares, líderes políticos e chefes militares -->
            <form name="cad_divisao" method="post" action = "{% url 'teste-form' %}" class="col-4 d-flex flex-wrap">
              {% csrf_token %}
                    <div class="col-md-8 col-lg-8 col-12">
                        <label class="lbl-padrao" for = "nome_divisao" >Nome Divisão:</label>
                        <input class="inp-padrao" type="text" name="nome_divisao" id = "nome_divisao" required>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <label class="lbl-padrao" for = "qtde_barcos" >Quantidade de Barcos:</label>
                        <input class="inp-padrao" type="number" id = "qtde_barcos" name="qtde_barcos" required>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <label class="lbl-padrao" for = "qtde_tanques" >Quantidade de Tanques:</label>
                        <input class="inp-padrao" type="number" id = "qtde_tanques" name="qtde_tanques" required>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <label class="lbl-padrao" for="qtde_homens">Quantidade de Homens:</label>
                        <input class="inp-padrao" type="number" id = "qtde_homens" name="qtde_homens" required>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                        <label class="lbl-padrao" for= "qtde_avioes">Quantidade de Aviões:</label>
                        <input class="inp-padrao" type="number" id="qtde_avioes" name="qtde_avioes" required>
                    </div>
                    <div class="col-md-8 col-lg-8 col-12">
                      <label class="lbl-padrao" for = "qtde_baixas">Número de baixas:</label>
                      <input class="inp-padrao" type="number" id="qtde_baixas" name="qtde_baixas" required>
                  </div>
                    
                  <div class="col-md-8 col-lg-8 col-12">
                    <label class="lbl-padrao">Grupo Armado:</label>
                  <select class="form-select" aria-label="Default select example" required>
                    <option selected disabled>Selecione o grupo armado da divisão</option>
                    <option value="1">Grupo armado 1</option>
                    </select>
                    <br>*É necessário cadastrar um grupo armado caso não tenha nenhum cadastrado. Clique <a href="grupo_armado.html">aqui</a> para cadastra-lo <br>
                    <input type="submit" class="btn btn-light" id="enviar" value="Enviar">
                  </div>
              </form>
    </section>

    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>