{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-white" style="background:#332f2f;">          
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'grafics' %}">Gráficos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lists' %}">Consultas</a>
          </li>
        </ul>
      </nav>
      </header>
    <section class="cadastro">
        <h1>Cadastro</h1>
        <hr>
        <!-- Permita cadastrar divisões dentro de um grupo militar, cadastre conflitos bélicos, grupos militares, líderes políticos e chefes militares -->
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-6">
              <a class="btn btn-light" href="{% url 'pais' %}" role="button">Cadastrar país</a><br><br>
              <a class="btn btn-light" href="{% url 'conflitos' %}" role="button">Cadastrar conflitos bélicos</a><br><br>
              <a class="btn btn-light" href="{% url 'organizacao_mediadora' %}" role="button">Cadastrar organização mediadora</a><br><br>
              <a class="btn btn-light" href="{% url 'grupo_armado' %}" role="button">Cadastrar grupos militares</a><br><br>
              <a class="btn btn-light" href="{% url 'lideres_politicos' %}" role="button">Cadastrar líderes políticos</a><br><br>
                <a class="btn btn-light" href="{% url 'divisao' %}" role="button">Cadastrar divisão</a><br><br>
                <a class="btn btn-light" href="{% url 'chefe_militar' %}" role="button">Cadastrar chefes militares</a><br><br>
              </div>
              <div class="col-md-6 col-lg-6 col-6">
                <a class="btn btn-light" href="{% url 'participacao' %}" role="button">Cadastrar participação</a><br><br>
                <a class="btn btn-light" href="{% url 'mediacao' %}" role="button">Cadastrar mediação</a><br><br>
                <a class="btn btn-light" href="{% url 'traficante' %}" role="button">Cadastrar traficante</a><br><br>
                <a class="btn btn-light" href="{% url 'arma' %}" role="button">Cadastrar arma</a><br><br>
                <a class="btn btn-light" href="{% url 'negociacao' %}" role="button">Cadastrar negociação</a><br><br>
                <a class="btn btn-light" href="{% url 'dialogo' %}" role="button">Cadastrar Dialogo</a><br><br>
                <a class="btn btn-light" href="{% url 'tipo_conflito' %}" role="button">Cadastrar Tipo Conflito</a><br><br>
              </div>
            </div>
          </div>
           
    </section>

    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>